.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login > p {
  margin-top: 10px;
  color: darkgray;
}

.login-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login-container {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 50px;
  padding: 20px;
}

.login-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.login-container > h3{
  text-align: center;
  color: #eb6440;
}

.login-container > form > h5 {
  font-size: 14px;
  margin-bottom: 5px;
}

.login-container > form > input {
  border: 1px solid #000;
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px;
  width: 300px;
}

.login-container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login-signIn {
  background-color: #eb6440;
  border: none;
  border-radius: 4px;
  color: #eff5f5;
  cursor: pointer;
  font-size: 1.1em;
  padding: 8px 50px;
  transition: .4s;
}

.login-register {
  border-radius: 2px;
  width: 390px;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  font-size: 12.5px;
  cursor: pointer;
}
